{% extends 'base_front.html.twig' %}

{% block title %}Hello FrontOffice/ProductSingleController!{% endblock %}

{% block body %}
    <h1>Agriculteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>RIB</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Payment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agriculteur in agriculteurs %}
            <tr>
                <td>{{ agriculteur.id }}</td>
                <td>{{ agriculteur.phone }}</td>
                <td>{{ agriculteur.RIB }}</td>
                <td>{{ agriculteur.nom }}</td>
                <td>{{ agriculteur.prenom }}</td>
                <td>{{ agriculteur.payment }}</td>
                <td>
                    <a href="{{ path('app_agriculteur_show', {'id': agriculteur.id}) }}">show</a>
                    <a href="{{ path('app_agriculteur_edit', {'id': agriculteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agriculteur_new') }}">Create new</a>
{% endblock %}
